<h1>Transações</h1>

<p><strong>Saldo:</strong> <%= number_to_currency(@saldo) %></p>

<table>
  <thead>
  <tr>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Tipo</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.description %></td>
      <td><%= number_to_currency(transaction.amount) %></td>
      <td><%= transaction.type %></td>
      <td><%= link_to 'Editar', edit_transaction_path(transaction) %> | <%= link_to 'Deletar', transaction, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>